In [2]:
import pandas as pd

Background Information
In a Stroop task, participants are presented with a list of words, with each word displayed in a color of ink. The participant’s task is to say out loud the color of the ink in which the word is printed. The task has two conditions: a congruent words condition, and an incongruent words condition. In the congruent words condition, the words being displayed are color words whose names match the colors in which they are printed: for example RED, BLUE. In the incongruent words condition, the words displayed are color words whose names do not match the colors in which they are printed: for example PURPLE, ORANGE. In each case, we measure the time it takes to name the ink colors in equally-sized lists. Each participant will go through and record a time from each condition.

Questions For Investigation
As a general note, be sure to keep a record of any resources that you use or refer to in the creation of your project. You will need to report your sources as part of the project submission.

#### 1 . What is our independent variable? What is our dependent variable?

A: The independent variable here will be the condition of the words, whether they are congruent or incongruent. The dependent variable will be the one which we are measuring, which is the time taken by participants.

#### 2 . What is an appropriate set of hypotheses for this task? What kind of statistical test do you expect to perform? Justify your choices.
A:

Now it’s your chance to try out the Stroop task for yourself. Go to this link, which has a Java-based applet for performing the Stroop task. Record the times that you received on the task (you do not need to submit your times to the site.) Now, download this dataset which contains results from a number of participants in the task. Each row of the dataset contains the performance for one participant, with the first number their results on the congruent task and the second number their performance on the incongruent task.

#### 3 . Report some descriptive statistics regarding this dataset. Include at least one measure of central tendency and at least one measure of variability.

A: Central Tendency -  We observe that the average time taken for Congruent case is much lesser than for Incongruent case. 14 vs 22. 
  Variability - We observe that the incongruent times are much more spread out. The range for incongruent is 19.56 as compared to 13.69 for congruent times. This goes on to say, that some people may fare relatively better and some people relatively worse in the incongruent case. But in the congruent case, people usually perform closely as it is comparitively an easy task.

In [12]:
data = pd.read_csv('stroopdata.csv')
data

    Congruent  Incongruent
0      12.079       19.278
1      16.791       18.741
2       9.564       21.214
3       8.630       15.687
4      14.669       22.803
5      12.238       20.878
6      14.692       24.572
7       8.987       17.394
8       9.401       20.762
9      14.480       26.282
10     22.328       24.524
11     15.298       18.644
12     15.073       17.510
13     16.929       20.330
14     18.200       35.255
15     12.130       22.158
16     18.495       25.139
17     10.639       20.429
18     11.344       17.425
19     12.369       34.288
20     12.944       23.894
21     14.233       17.960
22     19.710       22.058
23     16.004       21.157

In [13]:
data.describe()

       Congruent  Incongruent
count  24.000000    24.000000
mean   14.051125    22.015917
std     3.559358     4.797057
min     8.630000    15.687000
25%    11.895250    18.716750
50%    14.356500    21.017500
75%    16.200750    24.051500
max    22.328000    35.255000

In [14]:
print('RANGE')
data.max()-data.min()

RANGE

Congruent      13.698
Incongruent    19.568
dtype: float64

#### 4 . Provide one or two visualizations that show the distribution of the sample data. Write one or two sentences noting what you observe about the plot or plots.

#### 5 . Now, perform the statistical test and report your results. What is your confidence level and your critical statistic value? Do you reject the null hypothesis or fail to reject it? Come to a conclusion in terms of the experiment task. Did the results match up with your expectations?

#### 6 . Optional: What do you think is responsible for the effects observed? Can you think of an alternative or similar task that would result in a similar effect? Some research about the problem will be helpful for thinking about these two questions!